/* grid width to be 100% for screens over 768px */

@media screen and (min-width: 768px) {
  /* container class is the grid */
  .container {
    width: 100%;
  }

  /* remove all patterns for now */
  .pat,
  .abs,
  .ham {
    display: none;
  }

  /* body */
  body {
    width: 100%;
    margin: 0 auto;
  }

  /* first-wrapper (welcome-part) */
  .first-wrapper {
    background-image: url("pattern/de-header.svg");
    background-position: center;
    height: 916px;
  }

  .first-wrapper h1 {
    margin: 120px 0 12px 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .first-wrapper p {
    padding: 0;
    margin: 0 0 12px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .first-wrapper h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    padding: 0;
    margin: 12px 0;
  }

  .first-wrapper nav {
    width: calc(1150 / 1440 * 100vw);
    margin: 0 auto;
  }

  .card {
    flex-flow: row nowrap;
    width: 80.27%;
    height: 496px;
    justify-content: center;
    padding: 20px;
    border-radius: 24px;
    margin: 142px auto;
    margin-bottom: 0;
  }

  .card .fig-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 90%;
    border-radius: 8px;
    margin: 0 auto;
    overflow: hidden;
  }

  .card:nth-of-type(odd) .fig-image {
    order: 1;
  }

  .content {
    width: 50%;
    padding: 24px;
  }

  .card:nth-of-type(odd) .content {
    padding-left: 20px;
  }

  .content .head-two {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  .content .head-three {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    margin: 0 12px 0 0;
    padding: 0 0 0 0.1em;
  }

  .content .msg {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: -4px 0 12px 0;
    padding: 0 0 12px 0;
  }

  .content .list div {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #6b778c;
    margin: 0 12px 0 0;
  }

  /* about */
  #about-myself {
    height: 924px;
    margin-top: 54px;
  }

  .about {
    width: 75%;
    margin: 0 auto;
    padding: 0;
    flex: calc(9 / 22);
  }

  .wrapper {
    flex-direction: row;
    width: 80%;
    height: 924px;
    margin: 15% auto;
    align-items: flex-start;
    justify-content: space-between;
  }

  .about h2 {
    color: #091e42;
  }

  /* language-section */
  .language-section {
    flex: calc(13 / 22);
    margin: 0;
    color: #344563;
    padding-left: 20px;
    margin-left: 10px;
  }

  .language-section ul ul li.flex {
    flex-direction: column;
    float: left;
    width: 122px;
    height: 120px;
    align-items: flex-start;
    margin-right: 12px;
  }

  .nav-links li {
    margin: 0 16px;
  }

  .language-section li:nth-of-type(5) {
    clear: both;
  }

  /* content */
  .content .list {
    align-items: center;
  }

  .content .list div img {
    display: block;
    margin: auto;
  }

  .contact {
    top: 720px;
    background-image: url("pattern/de-contact.svg");
    background-position: center;
  }

  .contact section.flex {
    width: 569px;
    margin: 0 auto;
  }

  .contact form {
    padding: 0 61px;
  }

  .contact form button {
    align-self: center;
  }

  .contact input,
  .contact textarea {
    border-radius: 2px;
  }

  .contact textarea {
    height: 170px;
    margin-bottom: 10px;
  }

  /* ********************************************** */

  /* additions */
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .nav-links li a {
    text-decoration: none;
    color: #344563;
    transition: color 0.25s;
  }

  .hello {
    width: calc(100vw * 920 / 1440);
    margin: 0 auto;
    margin-top: 300px;
  }

  /* don't display on mobile */
  .card .fig-image .desktop {
    display: block;
  }

  .card .fig-image .mobile {
    display: none;
  }
}

/* this prevents clutter */

@media (min-width: 950px) {
  /* don't display on mobile */
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
