* {
  font-family: Poppins, sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

/* ********************************** */

/* Grid */

.container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 88px;
  width: 375px;
  margin: 0 auto;
  justify-content: center;
  background: #f9f9f9;
}

/* ********************************** */
